= provide :site_title, t('.title')
= provide :initiatives_index, 'active'
= render 'users/initiatives/sort', q: @q
#initiatives.card-columns
  = render 'users/initiatives/index', collection: @initiatives
#paginator
  = paginate @initiatives
