= provide :site_title, t('views.pages.global.initiatives')
= provide :initiatives_index, 'active'
= render 'users/initiatives/sort'
#initiatives
  = render 'users/initiatives/index', collection: @initiatives
#paginator
  = paginate @initiatives