<%= provide :site_title, t('views.pages.global.initiatives') %>
<%= provide :initiatives_index, 'active' %>

<div id="initiatives">
  <%= render 'users/initiatives/index', collection: @initiatives %>
</div>

<div id="paginator">
  <%= paginate @initiatives %>
</div>