= provide :site_title, t('views.pages.initiatives.new.title')
= provide :initiatives_new, 'active'
.col-sm-12
  = render 'users/initiatives/form', action: :new, initiative: @initiative, categories: @categories
