= provide :site_title, t('views.pages.global.initiatives')
= provide :initiatives_index, 'active'
= render 'initiatives/sort'
#initiatives.card-columns
  = render 'initiatives/index', collection: @initiatives
#paginator
  = paginate @initiatives
