@import 'variable'

html, body
  font-family: 'Roboto', 'Helvetica', sans-serif

.flex-column
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.flex-between
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.flex-center
  display: flex
  justify-content: center
  align-items: center

.full-image
  height: 300px
  width: 100%

.full-video
  height: 300px
  width: 100%

.comment-user-block
  display: flex

  .user-image
    width: 50px
    height: 50px
    border-radius: 50%

  .user-information
    display: flex
    flex-direction: column
    justify-content: space-around
    margin-left: 20px

.image-block
  height: 250px

.background-white
  background-color: $white

.full-div-size
  div
    width: 100%

.menu-links-block
  display: flex
  position: absolute
  justify-content: flex-end
  text-align: center
  width: 100%
  button
    margin: 10px

.main-image
  width: 100%
