= provide :site_title, t('views.pages.global.contacts')
= provide :contacts, 'active'

.mdl-grid
  - @contacts.each do |contact|
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone
      .demo-card-square.mdl-card.mdl-card-subscriptions.mdl-shadow--2dp
        .mdl-card__supporting-text
          p
            = t('views.pages.global.email')
            | \: #{contact.email}
          p
            = t('views.pages.global.description')
            | \: #{contact.description}
          /! links
          p
            = link_to t('views.pages.global.button.destroy'), administration_contact_path(contact), method: :delete, data: { confirm: t('views.pages.global.confirm') }, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
.mdl-grid
  .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone
    = paginate @contacts
