<%= provide :site_title, t('views.pages.users.index.title') %>
<%= provide :users_index, 'active' %>

<div id="users">
  <%= render 'administration/users/index', collection: @users %>  
</div>

<%= paginate @users %>