.mdl-grid
  .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone.flex-center
    b
      = t('views.pages.global.contacts')
.demo-card-square.mdl-shadow--2dp
  .mdl-card__supporting-text
    = notification.target.full_name
    |  has added new question 
  .mdl-card__supporting-text
    p
      = t('views.pages.global.full_name')
      | : 
      = notification.target.full_name
    p
      = t('views.pages.global.email')
      | : 
      = notification.target.email
    p
      = t('views.pages.global.description')
      | : 
      = notification.target.description