<h4><%= t('views.pages.global.initiatives') %></h4>

<div class=''>
  <%= link_to notification.actor.email, main_app.user_path(notification.actor) %> has added initiative
</div>

<div class=''>
  <%= notification.target.title %>
</div>
