<%= content_tag :a do %>
  <li class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect disabled">
    <%= raw(t 'views.pagination.truncate') %>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
  </li>
<% end %>
