= content_tag :a do
  li.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.disabled
    = raw(t 'views.pagination.truncate')
    span.mdl-button__ripple-container
      span.mdl-ripple
