<% unless current_page.last? %>
  <%= link_to url, { remote: remote } do %>
    <li class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <%= raw(t 'views.pagination.last') %>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </li>
  <% end %>
<% end %>
