- unless current_page.last?
  = link_to url, { remote: remote } do
    li.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
      = raw(t 'views.pagination.last')
      span.mdl-button__ripple-container
        span.mdl-ripple
