- unless current_page.last?
  = link_to url, rel: 'next', remote: remote, class: :next_page do
    li.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
      = raw(t 'views.pagination.next')
      span.mdl-button__ripple-container
        span.mdl-ripple
