<% if page.current? %>
  <%= content_tag :a, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) do %>
    <li class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect active">
      <%= page %>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </li>
  <% end %>
<% else %>
  <%= link_to url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) do %>
    <li class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <%= page %>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </li>
  <% end %>
<% end %>
