<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <%= render_breadcrumbs separator: ' / ' %>
      </li>
    </ol>
  </nav>
</div>