<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<header class="mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Title</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <%= render 'layouts/user/navigation' %>
			<%= form_tag('/search', local: true, method: :get, class: 'form-inline' ) do %>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<label class="mdl-textfield__label" for="sample3">Text...</label>
					<%= text_field_tag(:q, nil, data: { behavior: 'autocomplete' }, class: 'mdl-textfield__input') %>
				</div>
			<% end %>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Title</span>
  <nav class="mdl-navigation">
    <%= render 'layouts/user/navigation' %>
  </nav>
</div>

