header.mdl-layout__header.mdl-layout__header--scroll
  .mdl-layout__header-row
    span.mdl-layout-title
      | Title
    .mdl-layout-spacer
    nav.mdl-navigation
      = render 'layouts/user/navigation'
      = form_tag('/search', local: true, method: :get, class: 'form-inline' ) do
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = text_field_tag(:q, nil, data: { behavior: 'autocomplete' }, class: 'mdl-textfield__input')
          label.mdl-textfield__label[for="sample3"]
            | Пошук...
.mdl-layout__drawer
  span.mdl-layout-title
    | Title
  nav.mdl-navigation
    = render 'layouts/user/navigation'