<%= provide :site_title, t('views.pages.global.fundraising') %>
<%= provide :fundraising, 'active' %>

<div id="initiatives">
  <%= render 'index', collection: @initiatives %>
</div>

<div id="paginator">
  <%= paginate @initiatives %>
</div>
