<%= provide :site_title, t('views.pages.global.implementing') %>
<%= provide :implementing, 'active' %>

<div id="initiatives">
  <%= render 'index', collection: @initiatives %>
</div>

<div id="paginator">
  <%= paginate @initiatives %>
</div>
