<%= provide :site_title, t('views.pages.global.initiatives') %>
<%= provide :initiatives_index, 'active' %>

<div class="container-fluid">
  <div class="row" id="initiatives">
    <%= render 'index' %>
  </div>
</div>
<%= paginate @initiatives %>
