= provide :site_title, t('views.pages.global.initiatives')
= provide :initiatives, 'active'

= render 'administration/initiatives/sort'

#initiatives
  = render 'index', collection: @initiatives

#paginator
  = paginate @initiatives