.row
  .col-sm-12
    = t('views.pages.notifications.all_notifications')
    span.pull-xs-right
      = link_to t('views.pages.notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'delete'
  .col-sm-12
    .row
      - unless @notifications.blank?
        - @notification_groups.each do |group, notifications|
          = render notifications

  .col-sm-12
    = paginate @notifications
