@import 'select2'
@import 'initiatives'
@import 'administration/sb-admin.css'
@import 'bootstrap-grid.css'
@import 'bootstrap.css'
@import 'font-awesome'

.full-size
  width: 100%
  height: 100%

.full-image
  @extend .full-size

.full-video
  @extend .full-size

.card-text
  overflow: hidden
  text-overflow: ellipsis
  height: 190px
