
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
footer, header, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

b {
  font-weight: 700; }

input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
  opacity: 1; }

* {
  box-sizing: border-box; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 6000; }
  .preloader:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle; }

.sk-cube-grid {
  width: 3.857rem;
  height: 3.857rem;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block; }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

div[class*="empty-sp"] {
  width: 100%;
  clear: both; }

@media (max-width: 544px) {
  .empty-sp-xs-0 {
    height: 0rem; }
  .empty-sp-xs-5 {
    height: 5px; }
  .empty-sp-xs-10 {
    height: 0.7143rem; }
  .empty-sp-xs-15 {
    height: 1.071rem; }
  .empty-sp-xs-20 {
    height: 1.429rem; }
  .empty-sp-xs-25 {
    height: 1.786rem; }
  .empty-sp-xs-30 {
    height: 2.143rem; }
  .empty-sp-xs-40 {
    height: 2.857rem; }
  .empty-sp-xs-50 {
    height: 3.571rem; }
  .empty-sp-xs-60 {
    height: 4.286rem; }
  .empty-sp-xs-65 {
    height: 4.643rem; }
  .empty-sp-xs-70 {
    height: 5rem; }
  .empty-sp-xs-75 {
    height: 5.357rem; }
  .empty-sp-xs-80 {
    height: 5.714rem; }
  .empty-sp-xs-90 {
    height: 6.429rem; }
  .empty-sp-xs-160 {
    height: 160px; }
  .empty-sp-xs-100 {
    height: 7.143rem; }
  .empty-sp-xs-200 {
    height: 14.29rem; } }

@media (min-width: 544px) {
  .empty-sp-sm-0 {
    height: 0rem; }
  .empty-sp-sm-5 {
    height: 5px; }
  .empty-sp-sm-10 {
    height: 0.7143rem; }
  .empty-sp-sm-15 {
    height: 1.071rem; }
  .empty-sp-sm-20 {
    height: 1.429rem; }
  .empty-sp-sm-25 {
    height: 1.786rem; }
  .empty-sp-sm-30 {
    height: 2.143rem; }
  .empty-sp-sm-40 {
    height: 2.857rem; }
  .empty-sp-sm-50 {
    height: 3.571rem; }
  .empty-sp-sm-60 {
    height: 4.286rem; }
  .empty-sp-sm-65 {
    height: 4.643rem; }
  .empty-sp-sm-70 {
    height: 5rem; }
  .empty-sp-sm-75 {
    height: 5.357rem; }
  .empty-sp-sm-80 {
    height: 5.714rem; }
  .empty-sp-sm-90 {
    height: 6.429rem; }
  .empty-sp-sm-100 {
    height: 7.143rem; }
  .empty-sp-sm-200 {
    height: 14.29rem; } }

@media (min-width: 768px) {
  .empty-sp-md-0 {
    height: 0rem; }
  .empty-sp-md-10 {
    height: 0.7143rem; }
  .empty-sp-md-15 {
    height: 1.071rem; }
  .empty-sp-md-20 {
    height: 1.429rem; }
  .empty-sp-md-25 {
    height: 1.786rem; }
  .empty-sp-md-30 {
    height: 2.143rem; }
  .empty-sp-md-40 {
    height: 2.857rem; }
  .empty-sp-md-50 {
    height: 3.571rem; }
  .empty-sp-md-60 {
    height: 4.286rem; }
  .empty-sp-md-65 {
    height: 4.643rem; }
  .empty-sp-md-70 {
    height: 5rem; }
  .empty-sp-md-75 {
    height: 5.357rem; }
  .empty-sp-md-80 {
    height: 5.714rem; }
  .empty-sp-md-90 {
    height: 6.429rem; }
  .empty-sp-md-100 {
    height: 7.143rem; }
  .empty-sp-md-120 {
    height: 120px; }
  .empty-sp-md-130 {
    height: 130px; }
  .empty-sp-md-150 {
    height: 150px; }
  .empty-sp-md-170 {
    height: 12.14rem; }
  .empty-sp-md-160 {
    height: 160px; }
  .empty-sp-md-200 {
    height: 14.29rem; } }

@media (min-width: 992px) {
  .empty-sp-lg-0 {
    height: 0rem; }
  .empty-sp-lg-10 {
    height: 0.7143rem; }
  .empty-sp-lg-15 {
    height: 1.071rem; }
  .empty-sp-lg-20 {
    height: 1.429rem; }
  .empty-sp-lg-25 {
    height: 1.786rem; }
  .empty-sp-lg-30 {
    height: 2.143rem; }
  .empty-sp-lg-40 {
    height: 2.857rem; }
  .empty-sp-lg-50 {
    height: 3.571rem; }
  .empty-sp-lg-60 {
    height: 4.286rem; }
  .empty-sp-lg-65 {
    height: 4.643rem; }
  .empty-sp-lg-70 {
    height: 5rem; }
  .empty-sp-lg-75 {
    height: 5.357rem; }
  .empty-sp-lg-80 {
    height: 5.714rem; }
  .empty-sp-lg-90 {
    height: 6.429rem; }
  .empty-sp-lg-100 {
    height: 7.143rem; }
  .empty-sp-lg-120 {
    height: 120px; }
  .empty-sp-lg-130 {
    height: 130px; }
  .empty-sp-lg-150 {
    height: 150px; }
  .empty-sp-lg-160 {
    height: 160px; }
  .empty-sp-lg-190 {
    height: 190px; }
  .empty-sp-lg-200 {
    height: 14.29rem; }
  .empty-sp-lg-230 {
    height: 230px; }
  .empty-sp-lg-260 {
    height: 260px; } }

@media (min-width: 1200px) {
  .empty-sp-lgx-0 {
    height: 0rem; }
  .empty-sp-lgx-10 {
    height: 0.7143rem; }
  .empty-sp-lgx-15 {
    height: 1.071rem; }
  .empty-sp-lgx-20 {
    height: 1.429rem; }
  .empty-sp-lgx-25 {
    height: 1.786rem; }
  .empty-sp-lgx-30 {
    height: 2.143rem; }
  .empty-sp-lgx-40 {
    height: 2.857rem; }
  .empty-sp-lgx-50 {
    height: 3.571rem; }
  .empty-sp-lgx-60 {
    height: 4.286rem; }
  .empty-sp-lgx-65 {
    height: 4.643rem; }
  .empty-sp-lgx-70 {
    height: 5rem; }
  .empty-sp-lgx-75 {
    height: 5.357rem; }
  .empty-sp-lgx-80 {
    height: 5.714rem; }
  .empty-sp-lgx-90 {
    height: 6.429rem; }
  .empty-sp-lgx-100 {
    height: 7.143rem; }
  .empty-sp-lgx-120 {
    height: 120px; }
  .empty-sp-lgx-130 {
    height: 130px; }
  .empty-sp-lgx-150 {
    height: 150px; }
  .empty-sp-lgx-160 {
    height: 160px; }
  .empty-sp-lgx-200 {
    height: 14.29rem; } }

/*======FONTS======*/
/*======BOOTSTRAP RESET======*/
.navbar {
  border-radius: 0;
  padding: 0; }

/*======MIXINS======*/
/*======HELP CLASSES======*/
.absolute, .bg, .hold-layer-1, .hold-layer-2, .layer, .layer, .preview-portfolio .layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.transition-def, a {
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out; }

a {
  color: inherit; }

.bg {
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .bg.fix {
    background-attachment: fixed; }
  .bg.containe {
    -ms-background-size: contain;
    background-size: contain; }

.vertical-align {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute; }
  .vertical-align.full {
    left: 0;
    width: 100%;
    text-align: center; }

.resp-img {
  width: 100%;
  height: auto;
  display: block; }

.img-full {
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.fl {
  float: left; }

.fr {
  float: right; }

body.overflow {
  overflow: hidden; }

.hold-layer-2 {
  background: rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.col-50 {
  width: 50%;
  position: relative;
  float: left; }

.col-40 {
  width: 40%;
  position: relative;
  float: left; }

.col-25 {
  width: 25%;
  position: relative;
  float: left; }

.col-20 {
  width: 20%;
  position: relative;
  float: left; }

.col-33 {
  width: 33.3333%;
  position: relative;
  float: left; }

.col-66 {
  width: 66.666%;
  position: relative;
  float: left; }


/*======TYPOGRAPHY======*/
.font-1, .caption-1, .caption-2, .caption-3, .caption-4, .button-style-1, .header-style-1 .nav-item, .footer-style-1 .copyright, .model-style-play {
  font-family: 'Abril Fatface', cursive; }

.font-2, .page-style-12, .footer-style-2 {
  font-family: 'Open Sans', sans-serif; }

.font-3, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .button-style-3, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .button-style-1.font-3, .button-style-1.type-3, .button-style-1.type-4, .button-style-2, .footer-style-2 .copyright, .nav-footer li, .price-item-1.type-2 ul li b, .price-item-1.type-3 .price-val b, .header-style-2 .nav-item, .page-style-2 .header-style-2 .nav-item, .page-style-4 .button-style-1, .footer-style-3 .footer-twitt .time span, .footer-style-3 .copyright, .no-item, .mobile-filter-wrap.type-1 .change-text, .page-style-2 .button-style-1, .page-style-2 .button-style-4, .page-style-2 .header-style-1 .nav-item, .page-style-2 .mobile-filter-wrap.type-2 .change-text, .page-style-2 .footer-address li b, .color-style-2 .isotope-filter-list.type-1 li, .color-style-2 .mobile-filter-wrap.fix-line .change-text {
  font-family: 'Work Sans', sans-serif; }

.font-4, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .price-item-1.type-2 .price-val b, .item-icon.type-4.info-type .icon b, .clock-item .val, .color-style-1 .header-style-2 .nav-link, .footer-style-2 .copyright, .footer-form .submit, .header-style-2 .nav-link, .nav-item .dropdown-menu li a {
  font-family: 'Droid Serif', serif; }

.font-5, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .button-style-1.type-5, .button-style-4, .button-style-1, .header-style-2 .nav-item, .footer-style-2 .copyright, .footer-form .submit, .top-header-info .lang-list .dropdown-menu li, .button-style-1, .header-style-2 .nav-link, .header-style-2 .nav-item .dropdown-menu li a, .footer-style-4 .copyright, .footer-style-4 .submit {
  font-family: 'Merriweather', serif; }

.font-6, .mobile-filter-wrap.type-2 .change-text {
  font-family: 'Roboto Slab', serif; }

.font-7, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .price-item-2 .price-val b, .header-style-2 .nav-item, .button-style-1, .footer-style-2 .copyright, .footer-form .submit, .item-icon .number {
  font-family: 'Playfair Display', serif; }

.font-8, {
  font-family: 'Ubuntu', sans-serif; }

.font-9, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .page-style .caption-1, .page-style .caption-2, .page-style .caption-3, .page-style .caption-4, .page-style .caption-5, .page-style .caption-6, .button-style-1.type-1, .button-style-1.type-2, .header-style-2 .nav-item, .footer-style-2 .copyright, .footer-form .submit, .header-style-2 .nav-link, .nav-item .dropdown-menu li a, .page-style .header-style-2 .nav-item .nav-link, .page-style .nav-item .dropdown-menu li, .page-style .footer-style-2 .copyright, .page-style .footer-form .submit {
  font-family: 'Roboto Condensed', sans-serif; }

.font-10, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .footer-form .submit, .copyright, .footer-form .submit, .footer-style-4 .caption-6, .footer-style-4 .caption-5, .header-style-2 .nav-item, .nav-item .dropdown-menu li, .color-style-6 .button-style-1, .price-item-1.type-2 ul li b, .header-style-2 .nav-link, .nav-item .dropdown-menu li a, .footer-style-2 .copyright, .footer-form .submit, .model-style-play {
  font-family: 'Oswald', sans-serif; }

.font-11 {
  font-family: 'Kaushan Script', cursive; }

.font-12,  .item-icon.type-4 b {
  font-family: 'Lato', sans-serif; }

.font-13 {
  font-family: 'Tangerine', cursive; }

.font-14, .caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6, .footer-form .submit, .footer-style-4 .copyright, .header-style-2 .nav-item {
  font-family: 'Tinos', serif; }

html {
  font-size: 14px; }

.caption-1.lg {
  font-size: 6.429rem;
  line-height: 6.857rem; }

.caption-1 {
  font-size: 4.286rem;
  line-height: 4.571rem; }

/*60px*/
.caption-2 {
  font-size: 3rem;
  line-height: 3.571rem; }

/*42px*/
.caption-3 {
  font-size: 2.143rem;
  line-height: 2.571rem;
  text-transform: uppercase; }

/*30px*/
.caption-4 {
  font-size: 1.429rem;
  line-height: 1.714rem;
  text-transform: uppercase; }

/*20px*/
.caption-5 {
  font-size: 1rem;
  line-height: 1.429rem;
  text-transform: uppercase; }

/*14px*/
.caption-5.lg {
  font-size: 1.071rem; }

/*15px*/
.caption-6 {
  font-size: 0.8571rem;
  line-height: 18px;
  text-transform: uppercase; }

/*12px*/
.caption-6.lg {
  font-size: 0.9286rem; }

/*13px*/
.caption-1, .caption-2, .caption-3, .caption-4, .caption-5, .caption-6 {
  position: relative; }

.caption-1.color-1, .caption-2.color-1, .caption-3.color-1, .caption-4.color-1, .caption-5.color-1, .caption-6.color-1 {
  color: #fff; }

.italic.title {
  font-style: italic; }

.color-3.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.color-3.form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.color-3.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.color-3.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

.color-3.form-control {
  color: #fff; }

.page-style-12 {
  color: #a1a1a1; }
  .page-style-12 .caption-1, .page-style-12 .caption-2, .page-style-12 .caption-3, .page-style-12 .caption-4, .page-style-12 .caption-5, .page-style-12 .caption-6 {
    color: #222;
    font-weight: 700;
    text-transform: uppercase; }
  .page-style-12 .caption-1.color-1, .page-style-12 .caption-2.color-1, .page-style-12 .caption-3.color-1, .page-style-12 .caption-4.color-1, .page-style-12 .caption-5.color-1, .page-style-12 .caption-6.color-1 {
    color: #fff; }

.simple-text {
  position: relative;
  font-weight: 400;
  /*13px*/
  /*16px*/ }
  .simple-text.size-1 p {
    font-size: 0.9286rem;
    line-height: 1.714rem; }
  .simple-text.size-2 p {
    font-size: 1.143rem;
    line-height: 1.714rem; }
  .simple-text.size-3 p {
    font-size: 14px;
    line-height: 24px; }
  .simple-text.color-1 p {
    color: rgba(255, 255, 255, 0.7); }
  .simple-text.color-2 p {
    color: #989898; }
  .simple-text.color-3 p {
    color: #a1a1a1; }
  .simple-text.color-4 p {
    color: rgba(119, 119, 119, 0.7); }
  .simple-text.color-5 p {
    color: rgba(85, 85, 85, 0.7); }
  .simple-text.italic p {
    font-style: italic; }

.sub-title {
  font-size: 1rem;
  line-height: 1.571rem;
  color: #dbc496; }
  .sub-title.color-2 {
    color: rgba(255, 255, 255, 0.7); }
  .sub-title.lg {
    font-size: 16px;
    color: #989898; }
  .sub-title.lg.color-2 {
    color: rgba(255, 255, 255, 0.7); }
  .sub-title.italic {
    font-style: italic; }

.color-1 {
  color: #fff; }

.color-2 {
  color: #222; }

.title-separator {
  position: relative; }
  .title-separator.white {
    background: rgba(255, 255, 255, 0.5); }

.title-style-4 {
  text-align: left;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .title-style-4 .title-separator {
    width: 3.571rem;
    height: 2px;
    margin-left: -1.429rem; }
  .title-style-4 .title-separator.lg {
    width: 70px;
    margin: 0;
    height: 1px; }
  .title-style-4.center {
    text-align: center;
    max-width: 560px;
    display: block;
    margin: 0 auto; }
  .title-style-4.center.border-style {
    max-width: none; }
  .title-style-4.center .title-separator {
    margin: 0 auto; }
  .title-style-4.center.wide {
    max-width: none; }

.fade-in {
  opacity: 0.07; }

/*======COLOR PIKER======*/
.color-piker {
  position: fixed;
  left: -239px;
  top: 50%;
  margin-top: -60px;
  width: 239px;
  z-index: 1500;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  .color-piker.active {
    left: 0; }

.jscolor-popup {
  left: 0 !important;
  z-index: 2000 !important;
  margin-top: 10px; }

.piker-open {
  position: absolute;
  right: -51px;
  top: 0px;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  color: #222;
  font-size: 20px;
  z-index: 5;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer; }

.color-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  padding: 30px; }
  .color-wrapper .title {
    padding-bottom: 20px; }
  .color-wrapper .jscolor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    font-size: 10px;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    cursor: pointer; }

/*======SWIPER STYLE======*/
.fullh-slider, .fullh-slider .swiper-wrapper, .fullh-slider .swiper-slide {
  height: inherit; }

.pagination-padd {
  padding-bottom: 60px; }

.pagination {
  position: absolute;
  text-align: center;
  margin: 0;
  bottom: 0;
  width: 100%;
  left: 0; }
  .pagination.hidden {
    display: none; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  z-index: 50; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1 .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0;
  background: #fff;
  margin: 0 0.3571rem;
  display: inline-block;
  opacity: 1; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dbc496;
  opacity: 1; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark .swiper-pagination-bullet {
  background: #989898; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dbc496; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark2 .swiper-pagination-bullet {
  background: #848484; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #222; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.white .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5); }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.white .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark3 .swiper-pagination-bullet {
  background: #d2d2d2; }

.swiper-container-horizontal > .swiper-pagination-bullets.pagination-type-1.dark3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dbc496; }

.swiper-wrapper {
  cursor: url(../img/drag.png) 16 9, ew-resize !important; }

.swiper-container-horizontal > .swiper-pagination-bullets.vertical-type {
  left: auto;
  right: 45px;
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  width: auto; }

.swiper-container-horizontal > .swiper-pagination-bullets.vertical-type .swiper-pagination-bullet {
  display: block;
  margin: 5px 0px;
  float: left;
  clear: both; }

.swiper-container-horizontal > .swiper-pagination-bullets.vertical-type.center {
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.arrow-closest {
  position: relative; }

.swipe-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 2.571rem;
  color: #e4e4e4;
  width: 3.571rem;
  height: 3.571rem;
  line-height: 3.571rem;
  z-index: 50;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  .swipe-arrow:hover {
    color: #222; }
  .swipe-arrow.col-1 {
    color: rgba(255, 255, 255, 0.5); }
  .swipe-arrow.col-1:hover {
    color: #fff; }
  .swipe-arrow.type-1 {
    width: 3.571rem;
    height: 3.571rem;
    line-height: 3.571rem;
    font-size: 1.429rem; }
  .swipe-arrow.col-2 {
    background: #f9f7f7;
    color: #989898; }
  .swipe-arrow.col-2:hover {
    background: #111;
    color: #fff; }
  .swipe-arrow.col-3 {
    background: #fff;
    color: #989898; }
  .swipe-arrow.col-3:hover {
    background: #111;
    color: #fff; }

.swiper-arrow-left {
  left: 0; }

.swiper-arrow-right {
  right: 0; }

/*======FOOTER======*/
.footer-style-1 {
  position: relative;
  width: 100%;
  padding: 3.214rem 0;
  background: #fff;
  display: inline-block; }
  .footer-style-1 .copyright {
    float: left;
    font-size: 0.9286rem;
    color: #989898;
    line-height: 1.4rem; }
    .footer-style-1 .copyright i {
      color: #ffa800; }
    .footer-style-1 .copyright a {
      color: #222; }
  .footer-style-1 .folow {
    float: right; }

.folow {
  position: relative; }
  .folow a {
    display: inline-block; }
  .folow.type-1 a {
    padding: 0 0.7143rem;
    border-left: 1px solid #f1f1f1;
    font-size: 1rem;
    color: #b7b7b7; }
  .folow.type-1 a:first-child {
    border-left: 0 none; }
  .folow.type-1 a:hover {
    color: #222; }
  .folow.type-2 a {
    padding: 0 0.7143rem;
    color: #989898; }
  .folow.type-2 a:hover {
    color: #222; }
  .folow.col-hover-3 a:hover {
    color: #ce9c68; }
  .folow.type-3 a {
    font-size: 1.429rem;
    margin-right: 2.143rem;
    color: #989898;
    line-height: 1.429rem; }
  .folow.type-3 a:hover {
    color: #222; }
  .folow.type-4 a {
    font-size: 16px;
    margin-right: 25px;
    color: #222;
    line-height: 16px; }
  .folow.type-4 a:hover {
    color: #989898; }

.footer-style-2 {
  position: relative; }
  .footer-style-2 .folow.type-1 a:hover {
    color: #fff; }
  .footer-style-2 .footer-item .title {
    color: #fff; }
  .footer-style-2 .recent-mini-link a {
    color: #fff; }

.footer-style-2 {
  position: relative;
  width: 100%;
  background: #222;
  color: rgba(255, 255, 255, 0.7); }
  .footer-style-2 .copyright {
    text-align: center;
    font-size: 0.9286rem;
    font-weight: 900;
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 0.7); }
    .footer-style-2 .copyright a {
      color: #fff; }
    .footer-style-2 .copyright i {
      color: #8f6623; }

.footer-address li {
  font-size: 0.9286rem;
  line-height: 1.571rem;
  padding-bottom: 1.143rem;
  color: rgba(255, 255, 255, 0.7); }
  .footer-address li:hover a {
    color: #fff; }

.recent-mini-link {
  position: relative;
  padding-bottom: 1.429rem; }
  .recent-mini-link .caption-4, .recent-mini-link .caption-6 {
    text-transform: none;
    display: block;
    padding-bottom: 0.3571rem; }
  .recent-mini-link .caption-4:hover, .recent-mini-link .caption-6:hover {
    color: rgba(255, 255, 255, 0.5); }
  .recent-mini-link span {
    font-size: 0.7857rem;
    color: rgba(255, 255, 255, 0.7); }
  .recent-mini-link span i {
    font-style: italic; }

.footer-item .folow.type-1 a:first-child {
  padding-left: 0px; }

.logo-footer {
  position: relative;
  float: left; }
  .logo-footer img {
    margin-right: 0.7143rem; }
  .logo-footer span {
    font-size: 0.9286rem;
    line-height: 0.9286rem; }
  .logo-footer.center {
    float: none;
    text-align: center;
    display: block;
    width: 100%; }
    .logo-footer.center a {
      display: inline-block; }
    .logo-footer.center img {
      margin: 0; }


.footer-form {
  position: relative;
  width: 100%; }
  .footer-form .submit {
    background: #fff;
    height: 40px;
    line-height: 38px;
    border: 1px solid #fff;
    padding: 0px 1.429rem;
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    -webkit-transition: all 0.45s ease-out;
    transition: all 0.45s ease-out; }
  .footer-form .submit:hover {
    background: #222;
    color: #fff; }

/*======HEADER STYLE ======*/
.header-style-2 {
  height: 8.214rem;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  .header-style-2 .nav-item {
    font-size: 0.8571rem;
    font-weight: 900;
    text-transform: uppercase;
    height: 3.929rem;
    line-height: 3.929rem;
    margin: 0 0.5rem; }
  .header-style-2 .nav-link {
    padding: 0 1.429rem;
    color: #989898;
    perspective: 21.43rem;
    -webkit-perspective: 21.43rem; }
  .header-style-2 .mobile-menu {
    display: none; }
  .header-style-2 .nav-link.active, .header-style-2 .nav-link:hover {
    color: #fff;
    background: #8b7f20; }
  .header-style-2 .nav-link.col-hover-3.active, .header-style-2 .nav-link.col-hover-3:hover {
    background: #ce9c68; }
  .header-style-2.fix {
    background: #fff;
    height: 6rem; }
  .header-style-2.fix .nav {
    padding: 0.4286rem 0; }
  .header-style-2.bg-link-color-2 .nav-link:before {
    background: #ce9c68; }

div[class*="row-custome"]:after {
  content: "";
  display: table;
  clear: both; }

.full-height-baner {
  position: relative;
  width: 100%;
  min-height: 50rem;
  height: 100vmin; }

.video-open.over {
  z-index: 1000; }

.model-style-play {
  width: 3.786rem;
  height: 3.786rem;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 auto;
  line-height: 3.786rem;
  font-size: 0.9286rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out; }
  .model-style-play:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem rgba(234, 251, 244, 0.2);
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }
  .model-style-play .line-play {
    position: absolute;
    left: 50%;
    height: 2.857rem;
    top: -1.429rem;
    width: 0.07143rem;
    margin-top: -0.5rem;
    -webkit-transition: all 0.45s ease-out;
    transition: all 0.45s ease-out; }
    .model-style-play .line-play:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 50%;
      width: 100%;
      background: #fff;
      -webkit-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out; }
    .model-style-play .line-play:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: 50%;
      width: 100%;
      background: #222;
      -webkit-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out; }
  .model-style-play:hover {
    background: #222;
    color: #fff; }
  .model-style-play:hover:before {
    box-shadow: 0 0 0 0.8rem rgba(234, 251, 244, 0.2); }
  .model-style-play:hover .line-play {
    margin-top: -0.8rem; }
  .model-style-play:hover .line-play:after {
    background: #fff; }
  .model-style-play:hover .line-play:before {
    background: #222; }

.video-item {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -5; }

.close-video {
  width: 2.308rem;
  height: 2.308rem;
  background: #fff;
  z-index: 8;
  color: #272b2b;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.462rem;
  text-align: center;
  font-size: 1.846rem;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.close-video span {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.video-item.act .video-title {
  opacity: 0; }

.video-item.act .close-video {
  opacity: 1; }

.video-item.act {
  z-index: 5; }

.video-item.act .video-wrapper {
  opacity: 1;
  visibility: visible; }

.video-wrapper {
  position: relative;
  width: 100%;
  display: block;
  background: #000;
  height: 100%;
  opacity: 0;
  visibility: hidden; }

.video-iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .video-iframe iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none; }

.video-open.type-2 {
  height: 750px; }

/*======CONTACT PAGE======*/
.color-style-1 .header-style-2 .color-style-1 .header-style-2 .nav-link:hover, .color-style-1 .button-style-1 {
  background: #ffa800;
  color: #fff; }

.color-style-1 .header-style-2 .nav-link {
  color: rgba(255, 255, 255, 0.7); }

.color-style-1 .header-style-2.fix {
  background: #222; }

.color-style-1 .contact-sm-item.type-3 .icon, .color-style-1 .contact-sm-item.type-3 .link:hover {
  color: #ffa800; }

.color-style-1 .button-style-1:hover {
  background: #222 !important; }

@media (max-width: 992px) {
  .color-style-1 .header-style-2, .color-style-1 .header-style-2 .nav-list {
    background: #222; }
  .map-item-2 {
    height: 400px; }
  .color-style-1 .header-style-2 .nav-link {
    background: none; }
  .color-style-1 .header-style-2 .nav-link.active, .color-style-1 .header-style-2 .nav-link:hover {
    background: none;
    color: #fff; } }

.main-detail-baner {
  position: relative;
  max-width: 830px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 15px; }

.color-style-1 .title-separator {
  background: #ffa800; }

.color-style-1 .portfolio-arrow:hover .arrow-line i {
  color: rgba(255, 168, 0, 0.5); }

.color-style-1 .arrow-line .line {
  background: rgba(255, 168, 0, 0.5); }

.color-style-1 .slide-item .caption-4.color-1:hover a {
  color: #ffa800; }

.portfolio-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  margin-top: -70px; }
  .portfolio-arrow:hover .image, .portfolio-arrow:hover .title {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .portfolio-arrow:hover .arrow-line .line {
    width: 70px; }

.arrow-prev {
  left: 35px; }

.arrow-next {
  right: 35px; }

.portfolio-arrow .title, .portfolio-arrow .image {
  position: relative;
  display: block;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  opacity: 0;
  visibility: hidden; }

.portfolio-arrow.arrow-next .title, .portfolio-arrow.arrow-next .image {
  padding-right: 60px;
  text-align: right; }

.portfolio-arrow .title {
  display: block;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px); }
  .portfolio-arrow .title .sub-caption {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    display: block; }

.portfolio-arrow .image {
  -webkit-transform: translateY(30px);
  transform: translateY(30px); }

.arrow-line {
  display: block;
  position: relative; }
  .arrow-line .line {
    width: 0px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    display: block;
    margin-left: 30px;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .arrow-line i {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }

.portfolio-arrow.arrow-next .arrow-line i {
  left: auto;
  right: 0; }

.portfolio-arrow.arrow-next .arrow-line .line {
  margin: 0 30px 0 0;
  float: right; }

.author-info li {
  position: relative;
  width: 100%;
  clear: both;
  text-align: left;
  padding-bottom: 20px; }

.author-info h6 {
  position: relative;
  float: left;
  display: block;
  max-width: 100px; }

.author-info .sub-caption {
  position: relative;
  padding-left: 100px;
  display: block; }

.page-nav {
  position: relative;
  width: 100%;
  min-height: 170px;
  background: #f9f9f9;
  display: block; }
  .page-nav .image {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    overflow: hidden; }
  .page-nav.right .image {
    right: 0; }
  .page-nav.right .title {
    padding-right: 230px;
    text-align: right;
    right: 0; }
  .page-nav.left .title {
    padding-left: 230px; }
  .page-nav .title .sub-caption {
    display: block;
    padding-bottom: 15px;
    color: #555; }
  .page-nav, .page-nav .caption-4, .page-nav .title .sub-caption, .page-nav .all-project, .page-nav .title {
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }
  .page-nav:hover {
    background: #111; }
  .page-nav:hover .caption-4 {
    color: #fff; }
  .page-nav:hover .title .sub-caption {
    color: rgba(255, 255, 255, 0.7); }
  .page-nav:hover .all-project {
    color: #fff; }
  .page-nav:hover .image {
    width: 150px; }
  .page-nav.left:hover .title {
    padding-left: 180px; }
  .page-nav.right:hover .title {
    padding-right: 180px; }

.portfolio-desc .title-style-4 {
  position: relative;
  z-index: 1; }

.all-project {
  color: #111;
  font-size: 30px; }

.slide-item {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 1; }
  .slide-item .image {
    position: relative;
    display: block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .slide-item .vertical-align {
    z-index: 5; }
  .slide-item .sub-caption {
    color: rgba(255, 255, 255, 0.7); }

.page-nav .title .icon {
  font-size: 30px;
  display: none; }

@media (max-width: 1200px) {
  .page-nav .image {
    width: 100px; }
  .page-nav.right .title {
    padding-right: 130px; }
  .page-nav.left .title {
    padding-left: 130px; } }

@media (max-width: 992px) {
  .full-height-baner {
    z-index: 5; }
  .mobile-filter-wrap.type-3 .isotope-filter-list li {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 38px; }
  .mobile-filter-wrap.type-3 .change-text {
    border-color: #111;
    color: #111; }
  .sm-height-baner {
    padding-top: 60px;
    height: auto; }
  .mobile-filter-wrap.type-3.color-1 .change-text {
    border-color: #fff;
    color: #fff; }
  .mobile-filter-wrap.type-3.color-1 .isotope-filter-list li {
    color: #989898;
    border: 0 none; }
  .mobile-filter-wrap.type-3.color-1 .isotope-filter-list li.active {
    color: #111; }
  .izotope-container.align-wrap .item.col-100, .izotope-container.align-wrap {
    margin-top: 0; }
  .portfolio-item-1.type-3.fl {
    margin-left: 0; }
  .portfolio-item-1.type-3.fr {
    margin-right: 0; }
  .page-style-4.color-style-9 .mobile-menu.col-style-1 i, .page-style-4.color-style-9 .mobile-menu.col-style-1 i:after, .page-style-4.color-style-9 .mobile-menu.col-style-1 i:before {
    background: #111; }
  .color-style-9.page-style-4 .header-style-2 .nav-link.active, .color-style-9.page-style-4 .header-style-2 .nav-link:hover {
    color: #fff; }
  .color-style-10 .header-style-2 .nav-link.active, .color-style-10 .header-style-2 .nav-link:hover {
    background: none;
    color: #111; }
  .color-style-10 .header-style-2 .drop-link .icon {
    color: #989898; }
  .video-open.type-2 {
    height: 500px; } }

@media (max-width: 768px) {
  .portfolio-item-1.type-3 {
    width: 100%; }
  .page-nav .image {
    display: none; }
  .page-nav.right .title {
    padding-right: 15px; }
  .page-nav.left .title {
    padding-left: 15px; }
  .page-style-11 .title-style-1 .sub-title {
    font-size: 20px;
    line-height: 20px; }
  .portfolio-item-1.type-3.fr {
    text-align: left; }
  .izotope-container.align-wrap .item.col-100 {
    margin-bottom: 60px; } }

@media (max-width: 554px) {
  .size-1 .item.col-50 {
    width: 100%; }
  .video-open.type-2 {
    height: 300px; }
  .page-nav .title .caption-4, .page-nav .title .sub-caption {
    display: none; }
  .page-nav .title .icon {
    display: inline-block; }
  .page-nav.right .title, .page-nav.left .title {
    text-align: center;
    width: 100%;
    padding: 0; }
  .page-nav {
    min-height: 70px; }
  .portfolio-arrow {
    display: none; } }

