<div>
  <%= link_to t('devise.shared.links.sign_in_with_provider', provider: :facebook), user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-sm' %>

  <%= link_to t('devise.shared.links.sign_in_with_provider', provider: :twitter), user_twitter_omniauth_authorize_path, class: 'btn btn-info btn-sm' %>
</div>