= provide :site_title, t('.title')
= provide :categories, 'active'
.mdl-grid
  .mdl-cell.mdl-cell--12-col.mdl-shadow--4dp.background-white
    .mdl-grid
      .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--10-col-table.mdl-cell--1-offset-table.mdl-cell--12-col-phone.full-div-size.full-div-size
        = render 'form', action: :edit, category: @category
