= provide :site_title, t('views.pages.categories.index.title')
= provide :categories, 'active'
.mdl-grid
  .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone.flex-center
    = link_to t('views.pages.categories.new.title'), new_administration_category_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
.mdl-grid
  - @categories.each do |category|
    .mdl-cell.mdl-cell--3-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone
      .demo-card-square.mdl-card.mdl-card-subscriptions.mdl-shadow--2dp
        .menu-links-block
          button.mdl-button.mdl-js-button.mdl-button--icon id="demo-menu-lower-right-#{category.id}" 
            i.material-icons more_vert
        .mdl-card__supporting-text
          p
            = t('views.pages.global.title')
            | \: #{category.title}
          p
            = t('views.pages.global.position')
            | \: #{category.position}
          p
            = t('views.pages.global.count.initiatives')
            | \: #{category.initiatives.count}
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect for="demo-menu-lower-right-#{category.id}" 
          li.mdl-menu__item.flex-center
            = link_to t('views.pages.global.button.show'), administration_category_path(category), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'
          li.mdl-menu__item.flex-center
            = link_to t('views.pages.global.button.edit'),  edit_administration_category_path(category), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'
          li.mdl-menu__item.flex-center
            = link_to t('views.pages.global.button.destroy'), administration_category_path(category), method: :delete, data: { confirm: t('views.pages.global.confirm') }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'
.mdl-grid
  .mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-table.mdl-cell--12-col-phone
    = paginate @categories
