
<footer class="footer-style-2">
  <div class="empty-sp-md-70 empty-sp-sm-50 empty-sp-xs-50"></div>
  <div class="container">
   <div class="row">
     <div class="col-lg-4 col-sm-6 col-xs-12">
       <div class="footer-item">
         <div class="logo-footer">
          <a href="#"><img src="http://electricblaze.com/soliaris/img/logo.png" alt=""></a>
        </div>
        <div class="empty-sp-sm-30 empty-sp-xs-20"></div> 
        <ul class="footer-address">
          <li><p>198 West 21th Street, Suite 721, New York
          5109 Pacific Coast Highway, Los Angeles</p></li>
          <li><a href="mailto:">Email: <span class="__cf_email__" data-cfemail="d5acbaa0a7b0b8b4bcb995acbaa0a7b1bab8b4bcbbfbb6bab8">[email&#160;protected]</span></a></li>
          <li><a href="tel:">Phone: +88 (0) 101 5682 000</a></li>
        </ul> 
      </div>
      <div class="empty-sp-md-0 empty-sp-sm-30 empty-sp-xs-50"></div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
     <div class="footer-item">
       <h5 class="title caption-5">Recent news</h5>
       <div class="empty-sp-sm-30 empty-sp-xs-20"></div>
       <div class="recent-mini-link">
         <a href="#" class="caption-6 color-1 lg">Donec vel est nec nulla ullamco</a>
         <span>Sep 9, 2015</span>
       </div>
       <div class="recent-mini-link">
         <a href="#" class="caption-6 color-1 lg">Ten Ways to Increase Web Traffic</a>
         <span>Sep 9, 2015</span>
       </div>
       <div class="recent-mini-link">
         <a href="#" class="caption-6 color-1 lg">Man who groves up stunning</a>
         <span>Sep 9, 2015</span>
       </div>
     </div>
     <div class="empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-30"></div>
   </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
     <div class="footer-item">
       <h5 class="title caption-5">keep in touch</h5>
       <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
       <form action="#" class="footer-form">
         <div class="simple-text size-1 color-1">
           <p>Support online is available 24 hours day, 
           get in touch. so you write to us anytime:</p>
         </div>
         <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
         <div class="input-group input-style-1 color-1 sm">
           <input type="text" placeholder="Enter your name..." name="name" class="form-control" required>
         </div>
         <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
         <div class="input-group input-style-1 color-1 sm">
           <input type="email" placeholder="Enter your mail..." name="name" class="form-control" required>
         </div>
         <div class="empty-sp-sm-30 empty-sp-xs-20"></div>
         <input type="submit" value="subscribe" class="submit">
       </form>
     </div>
     <div class="empty-sp-md-0 empty-sp-sm-20 empty-sp-xs-20"></div>
   </div> 
  </div>
  <div class="empty-sp-lg-50 empty-sp-md-30 empty-sp-sm-20 empty-sp-xs-10"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="copyright">
        <span>©2018 <i class="icon-heart"></i> by</span>
      </div>
    </div>
  </div>
  <div class="empty-sp-md-50 empty-sp-md-50 empty-sp-sm-50 empty-sp-xs-20"></div>
  </div> 
</footer>
                         
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>