<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body>
    <%= render 'layouts/navigation' %>
    
    <%= render 'layouts/flash' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
